#chat-screen {
    background-color: #abc1d1;
    height: 300vh;
}
#chat-screen .alt-header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color: #abc1d1;
}
#chat-screen .status-bar {
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


.main-chat {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s linear;
}
.chat__timestamp {
    background-color: #92a4b2;
    padding: 15px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}
.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.message__author {
    margin-bottom: 5px;
    display: block;
}
.message__info {
    display: flex;
    align-items: flex-end;
}
.message__bubble {
    background-color: white;
    padding: 13px;
    font-size: 18px;
    border-radius: 10px;
    border-top-left-radius: 0;
    margin-right: 5px;
}
.message__author,
.message__time {
    opacity: 0.8;
    font-size: 14px;
}

.message-row--own {
    justify-content: flex-end;
}
.message-row--own .message__info {
    flex-direction: row-reverse;
}
.message-row--own .message__bubble {
    background-color: var(--yellow);
    border-radius: 10px;
    border-top-right-radius: 0;
    margin-right: 0;
    margin-left: 5px;
    /* order: 1; */
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.reply .reply__column:first-child {
    width: 10%;
}
.reply__column:last-child {
    width: 90%;
    position: relative;
}
.reply input {
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: 7px;
    top: 5px;
}
.reply__column:last-child > i {
    right: 45px;
    top: 10px;
}
.reply i {
    opacity: 0.5;
}
.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.reply__column button i {
    opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply:focus-within .reply__column:first-child {
    transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child {
    opacity: 0;
}

.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    transition: transform 0.3s ease-in-out;
}

.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
    transform: translateX(25px) translateY(-130px);
}

.reply input:focus {
    width: 97vw;
    transform: translateX(-13%) translateY(-130px);
}

.reply:focus-within {
    bottom: -50px;
    transform: translateY(80px);
}